@import "../../app.scss";

.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: transparent; /* Set background color to transparent */
  backdrop-filter: blur(10px); /* Apply blur effect to background */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Center the elements horizontally */
  padding: 0 20px;
  z-index: 1000; /* Ensure it's above other content */
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1; /* To occupy the remaining space */
  max-width: 1200px; /* Adjust as per your requirement */
  margin: 0 auto;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center the social icons horizontally */
}

.social a img {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

.sidebar {
  display: none; /* Hide sidebar by default */
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px; /* Adjust height for smaller screens */
  }

  .wrapper {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .social a img {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
  }

  .sidebar {
    display: block; /* Show sidebar in mobile and tablet views */
    margin-left: auto; /* Move sidebar to the right */
  }
}
