@import "../../app.scss";

.navbar {
  position: sticky;
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: right;
    justify-content: space-between;
    height: 100%;

    .copy-text {
      font-weight: bold;
      cursor: pointer;
      white-space: nowrap;
      flex-shrink: 0; /* Prevent the element from shrinking */
    }

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
