@import "../../app.scss";

.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social a img {
  width: 80px;
  height: 80px;
}

.sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;
  }

  .wrapper {
    padding: 0 10px;
  }

  .social a img {
    width: 30px;
    height: 30px;
  }

  .sidebar {
    display: block;
    margin-left: auto;
  }
}
