html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a:hover {
  cursor: url("./HoverCursor.png"), auto;
}

.custom-cursor:active {
  cursor: url("./HoverCursor.png"), auto;
}
.custom-cursor {
  cursor: url("./Cursor.png"), auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.custom-cursor {
  cursor: url("./Cursor.png"), auto;
}

body {
  cursor: url("./Cursor.png"), auto;
  background-color: #010113fc;
  color: rgb(242, 140, 5);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* this ensures the navbar stays on top of all other elements */
}

.App > * {
  height: 100vh;
  overflow: auto;
  scroll-snap-align: start;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
